pkgbase = mmu-vpn
	pkgdesc = OpenFortiVPN tray wrapper for Multimedia University (MMU)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/KOWX712/mmu-vpn
	arch = x86_64
	license = GPL-3.0
	depends = openfortivpn
	depends = polkit
	depends = xdotool
	source = https://github.com/KOWX712/mmu-vpn/releases/download/v0.1.0/mmu-vpn-bin-0.1.0.tar.gz
	sha256sums = 8e507e5f9b9232cf1dff4eef2ffd3c7f3725b35f71087281b8a4bed3c7b201c2

pkgname = mmu-vpn
