pkgbase = mmu-vpn
	pkgdesc = OpenFortiVPN tray wrapper for Multimedia University
	pkgver = 0.1.0
	pkgrel = 4
	url = https://github.com/KOWX712/mmu-vpn
	arch = x86_64
	license = GPL-3.0
	makedepends = cargo
	depends = openfortivpn
	depends = polkit
	depends = xdotool
	options = !debug
	source = https://github.com/KOWX712/mmu-vpn/archive/v0.1.0/mmu-vpn-0.1.0.tar.gz
	sha256sums = 1290add1d9b5cbeff8c6050ceabaa251f4232fd90dc868b26decfe06de2095e6

pkgname = mmu-vpn
