polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec" &&
        action.lookup("exec") == "/usr/bin/openfortivpn" &&
        subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
